@import "_variables.scss";
/* INICIO  */
#inicio {
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  & .transparencia {
    padding-top: 8vh;
    width: 100vw;
    height: 100vh;
    background: $principal;
    z-index: 0;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include desktop {
      & {
      
        height: 100vh;
        background: $principal;
    
      }
    }
  }  
  
  & h1 {
    font-size: 0.8rem;
    margin-top: 4rem;
    color: $detalles;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  @include desktop {
    a {
      font-size: 1.2rem;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      text-decoration: none;
      color: $secundario;
      &:hover {
        color: $secundario;
        opacity: 0.7;
      }
    }
    h1 {
      font-size: 1;
      justify-content: flex-start;
      padding-left: 15%;
      height: 5vh;
      align-items: flex-start;
    }
  }
}
.inicioFondo {
  height: 100vh;
  position: relative;
}

// KEEP ON LOOKING
#keep_on_looking {
  margin-top: 7rem;
  background: $principal;
  @include desktop {
    margin-top: 5rem;
  }
  .marMob {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
  }
  h2 {
    width: 80%;
    border-bottom: 1px inset $detalles;
    border-bottom-left-radius: 1rem;
    color: $detalles;
    padding-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  p {
    color: $secundario;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    opacity: .8;
    font-size: .8rem;
  }
  .oscuro{
    font-weight: bold;
  }
  hr{
    color: $detalles;
  }
  a {
    color: $secundario;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  iframe{
    aspect-ratio: 1.8;
    width: 100%;
    max-width: 100%;
  }
}
#projects {
  margin-top: 9rem;
  background: $principal;
  @include desktop {
    height: 88vh;
    margin-top: 12vh;
  }
  .marMob {
    height: auto;
    width: auto;
    display: flex;
  }
  .centrarImg{
    justify-content: center;
    display: flex;

  }
  .bloqueImg {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    height: 100%;
    width: auto;
    max-width: 432px;
    padding: 1em;
  }
  .bloqueImg p {
    margin: 0;
    display: flex;
    color: $secundario;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(111,26,7,0), rgba(43,33,24,0));
    transition: opacity 0.4s linear;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    bottom: 1em;
    height: calc(100% - 1em);
    width: auto;
    max-width: 432px;
    flex-direction: column;
    opacity: 0;
  }
  .bloqueImg:hover p {
    background: linear-gradient(to right, rgba(111,26,7,.9), rgba(43,33,24,.8));
    opacity: 1;
  }
  p {
    color: $secundario;
    font-size: .8rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  a {
    color: $secundario;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  .btn {
    background-color: $detalles;
    color: $detalles;
    font-size: 0.6rem;
    font-weight: bold;
  }
}
/* CONTACT  */
#contact {
  background-image: url("../../../public/img/contacto.jpg");
  height: 100%;
  background-attachment: scroll;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  @include desktop{
    background-position: 0% 0%;
  }
  .flex {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  & .transparencia {
    padding-top: 0;
    width: 100vw;
    height: calc(100vh - 7rem);
    background: $principal;
    z-index: 8000;
    opacity: .8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include desktop {
      padding-top: 0;
      height: calc(100vh - 3.5rem);
          }
  }
  & .formulario {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  
    a {
      margin-left: 15%;
       margin-top: 1rem; 
        color: $secundario;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 1rem;
        text-decoration: none;
        
        &:hover {
          opacity: 0.8;
        }
      }
    .contactos{
      display: flex;
      justify-content: space-around;
    }
  & input {
    font-size: 0.8rem;
    color: $principal;
    font-weight: 500;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1rem;
    outline: none;
    background-color: $secundario;
    border: 0;
    margin-bottom: 1rem;
  }
  & label {
    font-size: 1rem;
    color: $secundario;
    padding-left: 4%;
  }
  & textarea {
    font-size: 0.8rem;
    color: $principal;
    padding-left: 4%;
    padding-top: 2%;
    border-radius: 0.5rem;
    outline: none;
    background-color: $secundario;
    border: 0;
  }
  
  & .boton {
    margin: 1rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid $secundario;
    opacity: 1;
    background-color: $detalles;
    color: $secundario;
    transition: all 1s;
    border-radius: 2rem;
    align-self: center;
    padding: 0;
    font-size: .8rem;
    &:hover {
      opacity: 0.7;
      font-size: 1rem;
    }
  }
}
// ABOUT ME
#about_me {
  margin-top: 1rem;
  background: $principal;
  padding-bottom: 1rem;
  @include desktop {
    margin-left: 15rem;
    // margin-right: 2rem;
    margin-top: 4rem;
    width: calc(100vw - 25rem);
  }
  .marMob {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 1rem;
    @include desktop{
      gap: 0;
      padding: 0;
      img{
        padding: 2rem;
      }
      p{
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
  .marginImg{

    img{
      padding-bottom: 2rem;
    @include desktop{
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0rem;
    }}
  }
  .reverse{
    flex-direction: column-reverse;
    @include desktop{
      flex-direction: row;
    }
  }
  hr{
    color: $detalles;
  }
  h2 {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: $secundario;
    font-size: 1.2rem;
    width: auto;
    @include desktop{
      font-size: 1.2rem;
    }
  }
  h3 {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: $detalles;
    font-size: 1rem;
    @include desktop{
      margin-right: 0;
      margin-left: 0;
     padding-left: 2rem;
     padding-right: 2rem;
         }
  }
  p {
    color: $secundario;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    @include desktop{
      margin-right: 0rem;
    margin-left: 0rem;
    }
  }
  a {
    color: $secundario;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  .row {
    width: 100%;
    --bs-gutter-x: 0rem;
  }
  
}
// EXPERIENCIAS
#experiencias {
  width: 100vw;
  height: calc(100vh - 7rem);
  background: $principal;
  overflow: hidden;
  @include desktop {
    width: calc(100vw - 7rem);
    margin-left: 7rem;
    margin-top: 3rem;
  }
  .marMob {
    height: auto;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
  
  .cajaDeCajas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    // margin-bottom: 8rem;
    height: auto;
    width: 100%;
  //   @media only screen and (min-width: 350px) {
  //     margin-bottom: 10rem;
  //   }
  //   @media only screen and (min-width: 522px) {
  //     margin-bottom: 8rem;
  //   }
  //   @media only screen and (min-width: 1340px) {
  //       margin-bottom: 0rem;
  // }
}
  .cajaImagen {
    width: 10rem;
    height: 8rem;
    margin-left: -2.1rem;
    margin-right: -2.1rem;
    margin-bottom: -2rem;
    transition: all 0s;
    z-index: 0;
    transition:all .5s ease-in-out;
    @include desktop{
      width: calc((100vw - 7rem) / 5);
      height: calc(width() * 0.8);
        
    }
    &:hover {
      opacity: 1!important;
      z-index: 12!important;
      -webkit-transform:scale(1.1);
      transform:scale(1.1)
    }
    img {
      max-width: 100%;
      height: auto;
      margin: 0;
      box-shadow: $principal;
      }
  }
  .activo{
    i{
      color: $detalles
    }
    
  }
  hr{
    color: $detalles;
  }
  h2 {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: $secundario;
    font-size: 1.2rem;
    width: auto;
    // text-align: center;
    @include desktop{
      font-size: 1.2rem;
    }
  }
  h3 {
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: $detalles;
    font-size: 1.2rem;
    width: auto;
    @include desktop{
      font-size: 1.2rem;
    }
  }
  a {
    color: $secundario;
    font-size: 1.2rem;
    width: auto;
    text-align: center;
    @include desktop{
      font-size: 1.2rem;
    }
  }
 img{
  margin-bottom: 1rem;
  margin-top: 1rem;
 }
  p {
    color: $secundario;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    @include desktop{
      margin-right: 0rem;
    margin-left: 0rem;
    }
  }
  a {
    color: $secundario;
    text-decoration: none;
  }
i{
  margin: 0;
  padding: 0;
}  
}
.algo{
  height: 8vh;
  width: 100%;
}
.formu{
   .formulario {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

  a {
    margin-left: 15%;
     margin-top: 1rem; 
      color: $secundario;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-size: 1rem;
      text-decoration: none;
      
      &:hover {
        opacity: 0.8;
      }
    }
  .contactos{
    display: flex;
    justify-content: space-around;
  }
& input {
  font-size: 0.8rem;
  color: $principal;
  font-weight: 500;
  padding-left: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 1rem;
  outline: none;
  background-color: $secundario;
  border: 0;
  margin-bottom: 1rem;
}
& label {
  font-size: 1rem;
  color: $secundario;
  padding-left: 4%;
}
& textarea {
  font-size: 0.8rem;
  color: $principal;
  padding-left: 4%;
  padding-top: 2%;
  border-radius: 0.5rem;
  outline: none;
  background-color: $secundario;
  border: 0;
}

& .boton {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid $secundario;
  opacity: 1;
  background-color: $detalles;
  color: $secundario;
  transition: all 1s;
  border-radius: 2rem;
  align-self: center;
  padding: 0;
  font-size: .8rem;
  &:hover {
    opacity: 0.7;
    font-size: 1rem;
  }
}
}
.copiar{
  input{
    font-size: 0.8rem;
    color: $principal;
    font-weight: 500;
    padding-left: 1%;
    padding-right: 1%;
    
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1rem;
    outline: none;
    background-color: $secundario;
    border: 0;
    margin-bottom: 1rem;
}
button{
  margin: 1rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid $secundario;
  opacity: 1;
  background-color: $detalles;
  color: $secundario;
  transition: all 1s;
  border-radius: 2rem;
  align-self: center;
  padding: 0;
  font-size: .8rem;
  &:hover {
    opacity: 0.7;
  }
}
}
.invitacion{
  color: $principal;
}
.botonMenu {
  margin: 1rem;
  width: 10rem;
  height: 2rem;
  border: 1px solid $secundario;
  opacity: 1;
  background-color: $detalles;
  color: $secundario;
  transition: all 1s;
  border-radius: 2rem;
  align-self: center;
  padding: 0;
  font-size: .8rem;
  &:hover {
    opacity: 0.7;
  }
}
.regalo{
  border-radius: 15rem;
margin: 0;
padding: 0;
  // border: .2rems solid $detalles;
  width: 200px;
  
}